.box {
  border: 1px solid $box-border-color;

  &.scroll-box {
    .scroll-box-inner {
      overflow-y: auto;
      height: 400px;
    }

    .scroll-box-top {
      padding: $box-title-padding-y $box-title-padding-x;
      border-bottom: 1px solid $box-border-color;
    }

    .scroll-box-inner02 {
      padding: 10px;
      max-height: 230px;
      overflow-y: auto;
    }
  }
}

.bg-box {
  padding: 10px 20px;
  background-color: $tertiary;
}