.form-control {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  border: 1px solid $input-border-color;
  background-color: $white;
  color: $font-color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  transition: box-shadow 0.1s ease-in;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:hover {
    border-color: $input-hover-border-color;
  }

  &:focus {
    outline: 0;
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
  }

  &.error {
    border-color: $input-error-border-color;

    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 2px rgba($input-error-border-color, 0.15);
    }
  }

  &:disabled,
  &.disabled {
    background-color: $input-disabled-bg;
    color: $input-disabled-color;
    cursor: auto;
  }

  &[readonly] {
    background-color: $input-readonly-bg;
  }

  &.datepicker {
    padding-right: 40px;
    background-image: url(../images/calendar.svg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &+.form-control {
    margin-left: 5px;
  }
}

.form-col+.form-col {
  display: block;
  margin-left: 0 !important;
  margin-top: 10px;
}

.form-check {
  position: relative;
  display: inline-block;
  margin: 2px 20px 2px 0;
  min-width: 20px;

  input[type="checkbox"],
  input[type="radio"] {
    @include hidden;

    +label {
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover .form-check__text {
        text-decoration: underline;
      }

      .form-check__icon {
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid $border-color-base;
        background-color: $white;
        color: $primary;
        position: absolute;
        left: 0;
        top: 1px;
      }

      .form-check__text {
        padding-left: 30px;
      }

      .form-check__img {
        display: block;
      }
    }

    &:focus+label .form-check__icon {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-box-shadow;
    }

    &[type="checkbox"] {

      &+label .form-check__icon {

        &::before {
          content: $icon-check;
          font-family: $icon-font-family;
          display: block;
          text-align: center;
          font-size: 12px;
        }

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: $white;
          position: absolute;
          right: 0;
          top: 0;
          transition: width 0.15s ease-in;
        }
      }

      &:checked+label .form-check__icon::after {
        width: 0;
      }

      &:disabled+label .form-check__icon,
      &:disabled+label .form-check__icon::after {
        background-color: $input-disabled-bg;
        color: $input-disabled-color;
      }
    }

    &[type="radio"] {

      &+label .form-check__icon {
        border-radius: 50%;

        &::before {
          content: "";
          @include circle(9px);
          background-color: $primary;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(0);
        }
      }

      &:checked+label .form-check__icon::before {
        transform: translate(-50%, -50%) scale(0.9);
        animation: bounce 0.2s ease-in forwards;
      }

      &:disabled+label .form-check__icon {
        background-color: $input-disabled-bg;
      }

      &:disabled+label .form-check__icon::before {
        background-color: $input-disabled-color;
      }
    }
  }
}

.form-review {
  text-align: center;

  &+.form-review {
    margin-top: 30px;
  }

  .form-review-title {
    margin-bottom: 10px;
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
  }

  .form-review-body {
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      display: block;
      width: calc(100% - 10px);
      height: 1px;
      background-color: $border-color-base;
      position: absolute;
      left: 50%;
      right: 0;
      top: 25px;
      transform: translateX(-50%);
    }

    .form-check {
      margin: 0;

      &+.form-check {
        margin-left: 50px;
      }

      input[type="radio"] {

        &+label {

          .form-check__icon {
            position: relative;
            left: auto;
            top: auto;
            margin: 0 auto;
            width: 50px;
            height: 50px;

            &::before {
              width: 40px;
              height: 40px;
            }
          }

          .form-check__text {
            display: block;
            float: none;
            padding-left: 0;
            margin-top: 10px;
          }
        }

        &:checked+label {

          .form-check__icon::before {
            animation: bounceLg 0.2s ease-in forwards;
          }
          
          .form-check__text {
            color: $primary;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.form-period {
  margin: 0 0 0 5px;

  input {
    &:checked+label.btn-quaternary,
    &:checked+label.btn-quaternary:hover {
      background-color: darken($gray-200, 15%);
    }
  }
}

.form-check-btn {
  margin: 0;

  input {
    &:checked+label.btn-quaternary,
    &:checked+label.btn-quaternary:hover {
      background-color: darken($gray-200, 15%);
    }
  }
}

/* file input */
.form-file {
  display: inline-block;
  position: relative;
  text-align: left;

  input[type="file"] {
    @include hidden;

    &:focus+label {
      border-color: darken(#eee, 10%);
      background-color: darken(#eee, 10%)
    }

    &+label {
      cursor: pointer;
    }
  }

  .form-file__text {
    margin-left: 10px;
    display: inline-flex;

    .btn-circle {
      margin-left: 5px;
    }
  }

  .form-file__image {
    margin-top: 10px;
    display: block;
    width: 100px;

    img {
      width: 100%;
    }
  }
}

textarea.form-control {
  width: 100%;
  height: auto;
  resize: none;
  line-height: inherit;
}

select.form-control {
  padding-right: 45px;
  background-image: url(../images/select.svg);
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:disabled {
    opacity: 1;
  }

  &::-ms-expand {
    display: none;
  }
}

.form-xs {
  width: 100px !important;
}

.form-sm {
  width: 150px !important;
}

.form-md {
  width: 350px !important;
}

.form-lg {
  width: 500px !important;
}

.form-xl {
  width: 800px !important;
}

.form-block {
  width: 100% !important;
}

/* input text */
.text-input {
  display: inline-block;
  line-height: $input-height;
  vertical-align: middle;
}

/* 주소 등 인풋 목록 */
.input-list {
  li {
    margin-bottom: 5px;

    .text-input {
      min-width: 10%;
      margin-right: 10px;
    }
  }
}