// forms(radio)
@keyframes bounce {
    50% {
        transform: translate(-50%, -50%) scale(1.15);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes bounceLg {
  50% {
      transform: translate(-50%, -50%) scale(1.05);
  }

  100% {
      transform: translate(-50%, -50%) scale(1);
  }
}