@each $color,
$value in $theme-colors {
  @include text-emphasis(".text-#{$color}", $value);
  @include bg-variant(".bg-#{$color}", $value);
}

@each $font-size,
$value in $font-sizes {
  @include font-sizes(".text-#{$font-size}", $value);
}

.text-link {
  text-decoration: underline;

  &:hover {
    color: $text-link-hover-color;
  }

  &:active {
    color: $text-link-active-color;
  }
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1 1 0;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-5 {
  gap: 10px;
}

.clear {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.col + .col {
  margin-top: 10px;
}

.row + .row {
  margin-left: $com-margin;
}

.row-xs + .row-xs {
  margin-left: $com-margin-xs;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.display-block {
  display: block !important;
}
.display-inblock {
  display: inline-block !important;
}
.display-none {
  display: none !important;
}

#skipNav,
.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.text-ellipsis {
  @include tblEllipsis(1);
}

.text-ellipsis2 {
  @include tblEllipsis(2);
}

.bt-0 {
  border-top: 0 !important;
}