.sidebar {
  width: $sidebar-width;
  background-color: $sidebar-bg;
  font-size: $font-size-lg
}

.sidebar-depth-01 {

  >li {

    &.active>a {
      background-color: $skyblue-light;
      color: $primary;
      font-weight: $font-weight-bold;
    }

    >a {
      display: block;
      padding: 10px 20px;
      font-weight: $font-weight-medium;
    }
  }
}

.sidebar-depth-02,
.sidebar-depth-03 {

  >li {

    &.active>a {
      font-weight: $font-weight-bold;
    }

    >a {
      position: relative;
      display: block;
      padding: 5px 25px 5px 35px;
      font-size: $font-size-base;
    }
  }
}

.sidebar-depth-03 li a {
  padding-left: 40px;
  font-size: $font-size-sm;
}